@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Piece - Fruits du Démon</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/ab6210d89d.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="bandeau row justify-content-around">
            <div class="col-3">
                <img class="img-fluid" src="/images/One_Piece_(ja)_Logo.svg.png" alt="logo one piece">
            </div>
        </div>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/home/index"><i class="fa-solid fa-house"></i>   Accueil</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/favoris/index"><i class="fa-solid fa-star-half-stroke"></i>   Mes favories</a>
                        </li>                     
                    </ul>
                </div>
            </div>
        </nav>
    </header>
   @RenderBody();
    <footer class="container-fluid">
        © Eiichiro Oda/Shueisha, Toei Animation
        One Piece est une œuvre créée par Eiichiro Oda, publiée par Shueisha et animée par Toei Animation. Tous les droits sont réservés à leurs propriétaires respectifs.

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
