@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using SiteOnepiece.Models

@{
    Layout = "_Layout";
}

<main>
    <H1 style="Text-align: center "> NON TROUVÉ </H1>
    <div style="Text-align: center;"><img src=~/images/NonTrouver.jpg alt="luffy"></div>
</main>
