@model SiteOnepiece.Models.Parent

@{
    ViewData["Title"] = "Create";
}

<form method="post" asp-action="Create">
    <div class="container py-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="@Model.Nom" />

        <!-- Title Section -->
        <div class="row mb-4">
            <div class="col-12">
                <h2 class="text-center text-primary border-bottom pb-2">Crée ton propre Grand pirate</h2>
            </div>
        </div>

        <!-- Form Fields Section -->
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <!-- Nom -->
                <div class="form-group row mb-3">
                    <label asp-for="@Model.Nom" class="col-sm-4 col-form-label">Nom du Pirate</label>
                    <div class="col-sm-8">
                        <input asp-for="@Model.Nom" class="form-control" />
                        <span asp-validation-for="@Model.Nom" class="text-danger"></span>
                    </div>
                </div>
                </>
               
</form>
